#mainContainer{
    max-width: 100%;
    max-height: 100%;
}
body{
    overflow-x: visible !important;
    overflow-y: visible !important;
    background: #e9ebee;
}
html,body,#threeSectionRow,#mainContainer{
    height: 100%;
}
#firstColumn{
    background-color: #373942;
    padding-top: 3%;
    color: #697A8A;
}
#side-icons{
    width: 100%;
    max-width: 65px;
}
.icon-title{
    color: #697A8A;
    font-weight: 500;
}
#check-out-button{
    cursor: pointer;
}
#search-name-formgroup,#search-id-formgroup{
    margin-bottom: 0;
}
.search-bg-white{
    padding: 2%;
    border-radius: 11px;
}
.table-bg-white{
    padding-top: 1%;
    border-radius: 8px;
    margin-top: 3%;

}
textarea:focus, input:focus{
    outline: none;
}
#second-column{
    margin-top: 2%;
}
#search-box{
    width: 100%;
}
#check-out-container{
    height: 100%;
}
.items-table{
    width: 96%;
    margin-left: 2%;
}
#first-th{
    border-radius: 8px 0 0 8px;
}
#last-th{
    border-radius: 0 8px 8px 0;
}
.cancel-item-icon{
    color: red;
    font-size: 15px;
    cursor: pointer;
}
#or-div{
    padding: 0 0 0 15px;
}
#or-paragraph{
    margin: 0 0 0 0;
    font-size: 23px;
    color: #565758;
}
#empty-cart{
    font-size: 22px;
    text-align: center;
    color: #eac841;
}
#third-column{
    margin-top: 2%;
}
.cancel-sale-section-bg{
    border-radius: 11px;
    padding-bottom: 6%;
}
/*start cancel sale button*/
.cancel-sale-section{
    text-align: center;
}
#cancel-sale-btn{
    background: orange;
    color: #fff;
    height: 41px;
    width: 150px;
    margin: 25px 25px;
    text-align: center;
    border: none;
    transition: all 0.3s ease 0s;
    border-radius: 33px;
    outline: none;
    cursor: pointer;
}

#cancel-sale-btn:hover {
    background: #CF4647;
}
.cancel-sale-section::after{
    content: "";
    display: inline-block;
    height: 24px;
    vertical-align: bottom;
    width: 100%;
    border-top: 0.5px solid #b5b5b5;
}
/*end cancel sale button*/
.search-user-with-phonenumber-form{
    width: 80%;
    margin-left: 11%;
}
.add-customer-icon-wrapper{
    cursor: pointer;
}
.total-sale-section-bg{
    margin-top: 4%;
    border-radius: 11px;
    text-align: center;
    padding: 0 4% 4% 4%;
}
.total-sale-section{
    padding: 20px 0 0 0;
}
#confirm-sale-btn{
    background: orange;
    color: #fff;
    height: 41px;
    width: 150px;
    margin: 25px 25px;
    text-align: center;
    border: none;
    transition: all 0.3s ease 0s;
    border-radius: 33px;
    outline: none;
    cursor: pointer;
}

#confirm-sale-btn:hover {
    background: #CF4647;
}
/*.total-label{
    text-align: -webkit-left;
    margin-left: 26%;
}*/
#grand-total-amount{
    color: #6FD64B;
}
.sub-total-section-wrapper{
    padding: 5% 3% 0 3%;
    text-align: left;
    font-size: 14px;
}
.align-right{
    float: right;
}
.sub-total-section{
    background-color: #f0fbec;
    padding: 5px 3% 5px 3%;
    text-align: left;
}
.sub-total{
    margin: 0;
}
a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}