#mainContainer{
    max-width: 100%;
    max-height: 100%;
}
body{
    overflow-x: visible !important;
    overflow-y: visible !important;
    background: #e9ebee;
}
html,body,#threeSectionRow,#mainContainer{
    height: 100%;
}
#firstColumn{
    background-color: #373942;
    padding-top: 3%;
}
#side-icons{
    width: 100%;
    max-width: 65px;
}
.icon-title{
    color: #697A8A;
    font-weight: 500;
}
#check-out-button{
    cursor: pointer;
}
#search-name-formgroup,#search-id-formgroup{
    margin-bottom: 0;
}
.search-bg-white{
    padding: 2%;
    border-radius: 11px;
}
.table-bg-white{
    padding-top: 1%;
    border-radius: 8px;
    margin-top: 3%;

}
textarea:focus, input:focus{
    outline: none;
}
#second-column{
    margin-top: 2%;
}
#search-box{
    width: 100%;
}
#check-out-container{
    height: 100%;
}
.items-table{
    width: 96%;
    margin-left: 2%;
}
#first-th{
    border-radius: 8px 0 0 8px;
}
#last-th{
    border-radius: 0 8px 8px 0;
}
.cancle-item-icon{
    color: red;
    font-size: 15px;
    cursor: pointer;
}
#or-div{
    padding: 0 0 0 15px;
}
#or-paragraph{
    margin: 0 0 0 0;
    font-size: 23px;
    color: #565758;
}